<!DOCTYPE html>
<html>


    <!-- Mirrored from www.zi-han.net/theme/hplus/graph_metrics.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:09 GMT -->
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>一月内热点信息统计表</title>
        <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
        <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

        <link rel="shortcut icon" href="favicon.ico">
        <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
        <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

        <link href="/css/animate.min.css" rel="stylesheet">
        <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
        <!-- Data Tables -->

        <!--https://datatables.net/extensions/buttons/examples/html5/excelTextBold.html-->
        <!--<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">-->
        <!--<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">-->
        <link href="/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    </head>

    <body class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="text" placeholder="请输入资源类型" id="type" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入域名" id="domain" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入外网地址" id="out" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入内网地址" id="inner" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入用户信息" id="userinfo" class="form-control">
                    </div>
                    <div class="form-group">
                        <a onclick="fnClickAddRow();" href="javascript:void(0);" class="btn btn-primary ">添加行</a>
                    </div>
                </form>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped" id='codemngtable'>
                            <thead>
                                <tr>
                                    <th>资源类型</th>
                                    <th>域名</th>
                                    <th>外网地址</th>
                                    <th>内网地址</th>
                                    <th>用户信息</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id='outputrecord'>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title">账号信息</h4>
                    </div>
                    <div class="modal-body">
                        <div id="old"  style="display: none">
                            <div class="form-group">
                                <label>类型</label>
                                <input type="text"  placeholder=""  id="type-old" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>域名</label>
                                <input type="text" placeholder="请输入域名" id="domain-old"  value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>外部IP</label>
                                <input type="text" placeholder="请输入外部IP" id="out_ip-old"  value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>内部IP</label>
                                <input type="text" placeholder="请输入内部IP" id="inner_ip-old"  value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>用户信息</label>
                                <input type="text" placeholder="请输入用户信息" id="userinfo-old"  value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>类型</label>
                            <input type="text"  placeholder=""  id="type-e" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>域名</label>
                            <input type="text" placeholder="请输入域名" id="domain-e"  value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>外部IP</label>
                            <input type="text" placeholder="请输入外部IP" id="out_ip-e"  value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>内部IP</label>
                            <input type="text" placeholder="请输入内部IP" id="inner_ip-e"  value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>用户信息</label>
                            <input type="text" placeholder="请输入用户信息" id="userinfo-e"  value="" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-sm" id="editgroup" value="edit"/>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js?v=2.1.4"></script>
        <script src="/js/bootstrap.min.js?v=3.3.6"></script>
        <script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
        <script src="/js/plugins/peity/jquery.peity.min.js"></script>
        <script src="/js/content.min.js?v=1.0.0"></script>

        <script src="/js/plugins/jeditable/jquery.jeditable.js"></script>
        <script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>

        <!--        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
        <!--        <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
                <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>-->
        <script src='/js/codemng.js'></script>
    </body>

</html>
