<!DOCTYPE html>
<html>


    <!-- Mirrored from www.zi-han.net/theme/hplus/form_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:15 GMT -->
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>H+ 后台主题UI框架 - 基本表单</title>
        <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
        <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

        <link rel="shortcut icon" href="favicon.ico"> <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
        <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
        <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="/css/animate.min.css" rel="stylesheet">
        <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
        <link href="/js/plugins/layer/laydate/need/laydate.css" rel="stylesheet">
        <link href="/css/css.css" rel="stylesheet">
        <!--<link href="/css/public.css" rel="stylesheet">-->
        <link href="/css/plugins/dropzone/basic.css" rel="stylesheet">
        <link href="/css/plugins/dropzone/dropzone.css" rel="stylesheet">
        <link href="/css/animate.min.css" rel="stylesheet">

    </head>

    <body class="gray-bg">
        <p class="text-center imagemargin">
            <img src="/img/db-2.png">
        </p>
        <div class="wrapper wrapper-content animated fadeInRight ">
            <div class="row ">
                <div class="test ">
                    <div class="ibox float-e-margins box">
                        <div class="ibox-title">
                            <h5>数据库连接信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <form role="form" id="dbinfo">
                                    <div class="form-group">
                                        <label>数据库IP</label>
                                        <input type="text" placeholder="for example: 127.0.0.1" id="ip" class="form-control" value="<%= result[0]['db-ip'] %>">
                                    </div>
                                    <div class="form-group">
                                        <label>数据库端口</label>
                                        <input type="text" placeholder="for example: 3306"  id="port" value="<%= result[0]['db-port'] %>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>用户名</label>
                                        <input type="text" placeholder="请输入您的用户名" id="username" value="<%= result[0]['db-username'] %>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>密码</label>
                                        <input type="password" placeholder="请输入密码" id="passwd"  value="<%= result[0]['db-password'] %>" class="form-control">
                                    </div>
                                    <div>
                                        <input type="button" class="btn btn-sm" id="savedb" value="测试&保存"/>
                                        <input type="button" class="btn btn-sm" id="getdb" value="得到数据"/>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="test">
                    <div class="ibox  box">
                        <div class="ibox-title">
                            <h5>数据库表格</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">数据库选择：
                                    </label>

                                    <div class="col-sm-10">

                                        <div class="radio" id='db'>
                                            <label>
                                                <input type="radio" checked="" value="option1" name="optionsRadios0">选项1</label>
                                            <label>
                                                <input type="radio" checked="" value="option2" name="optionsRadios0">选项2</label>
                                            <label>
                                                <input type="radio" checked="" value="option3" name="optionsRadios0">选项3</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">表选项：
                                    </label>

                                    <div class="col-sm-10">

                                        <div class="radio" id='table'>
                                            <label>
                                                <input type="radio" checked="" value="option1" name="optionsRadios">选项1</label>
                                            <label>
                                                <input type="radio" checked="" value="option2" name="optionsRadios">选项2</label>
                                            <label>
                                                <input type="radio" checked="" value="option3" name="optionsRadios">选项3</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">字段选项：
                                    </label>
                                    <div class="col-sm-10">

                                        <div class="radio" id='column'>
                                            <label>
                                                <input type="radio" checked="" value="option4"  name="optionsRadios2">选项4</label>
                                            <label>
                                                <input type="radio" checked="" value="option5"  name="optionsRadios2">选项5</label>
                                            <label>
                                                <input type="radio" checked="" value="option6" name="optionsRadios2">选项6</label>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="test">
                    <div class="ibox box">
                        <div class="ibox-title">
                            <h5>时间选择与导出</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">图标触发日期：</label>
                                    <div class="col-sm-10">
                                        <input placeholder="开始日期" class="form-control layer-date" name='starttime' id="start">
                                        <input placeholder="结束日期" class="form-control layer-date" name='endtime' id="end">

                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id='output'><strong>导出</strong>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th>项目</th>
                                                <th>进度</th>
                                                <th>任务</th>
                                                <th>日期</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" checked class="i-checks" name="input[]">
                                                </td>
                                                <td>米莫说｜MiMO Show</td>
                                                <td><span class="pie">0.52/1.561</span>
                                                </td>
                                                <td>20%</td>
                                                <td>2014.11.11</td>
                                                <td><a href="table_basic.html#"><i class="fa fa-check text-navy"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="i-checks" name="input[]">
                                                </td>
                                                <td>商家与购物用户的交互试衣应用</td>
                                                <td><span class="pie">6,9</span>
                                                </td>
                                                <td>40%</td>
                                                <td>2014.11.11</td>
                                                <td><a href="table_basic.html#"><i class="fa fa-check text-navy"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="i-checks" name="input[]">
                                                </td>
                                                <td>天狼---智能硬件项目</td>
                                                <td><span class="pie">3,1</span>
                                                </td>
                                                <td>75%</td>
                                                <td>2014.11.11</td>
                                                <td><a href="table_basic.html#"><i class="fa fa-check text-navy"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="i-checks" name="input[]">
                                                </td>
                                                <td>线下超市+线上商城+物流配送互联系统</td>
                                                <td><span class="pie">4,9</span>
                                                </td>
                                                <td>18%</td>
                                                <td>2014.11.11</td>
                                                <td><a href="table_basic.html#"><i class="fa fa-check text-navy"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="test">
                    <div class="ibox box">
                        <div class="ibox-title">
                            <h5>文件的导入</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="my-awesome-dropzone" class="dropzone" method='post' enctype="multipart/form-data" action="/login/acceptfile">
                                <div class="dropzone-previews"></div>
                                <button type="submit" class="btn btn-primary pull-right">提交</button>
                            </form>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th>文件名</th>
                                                <th>记录条数</th>
                                                <th>备注</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id ='record'>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/jquery.min.js?v=2.1.4"></script>
        <script src="/js/bootstrap.min.js?v=3.3.6"></script>
        <script src="/js/content.min.js?v=1.0.0"></script>
        <script src="/js/plugins/iCheck/icheck.min.js"></script>
        <script src="/js/plugins/layer/laydate/laydate.js"></script>
        <script src="/js/plugins/dropzone/dropzone.js"></script>
        <script>
            $(document).ready(function () {
                Dropzone.options.myAwesomeDropzone = {
                    autoProcessQueue: false, uploadMultiple: true, parallelUploads: 100, maxFiles: 100,
                    init: function () {
                        var myDropzone = this;
                        this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                            console.log("element----------------------");
                            e.preventDefault();
                            e.stopPropagation();
                            myDropzone.processQueue()
                        });
                        this.on("sendingmultiple", function () {
                            console.log("sending----------------------");
                            console.log((myDropzone));
                        });
                        this.on("successmultiple", function (files, response) {
                            console.log("successmultiple----------------------");
                            console.log(JSON.stringify(files[0].name) + "----------------------" + JSON.stringify(response));
                            var aa = JSON.parse(response).data.url;
                            console.log(aa);
                            for (var i in aa) {
                                addRow($('#record'), aa[i]);
                            }
                        });
                        this.on("errormultiple", function (files, response) {
                            console.log("errormultiple----------------------");
                        })
                    }}

            });
            (function () {
                $('button[name=dd]').on('click', function () {
                    var file = $(this).parent().parent().children()[1].innerHTML;

                    appendColumn($(this).parent().parent(), 'nopass');
//                    alert(file);
//                    inputXlsx([file]);
                });
            })();
            function appendColumn(a, type, recordC, reason) {
                if (type == 'ok') {
                    a.append('<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>');
                    a.children()[5].remove();
                } else if (type == 'over') {
                    a.append('<td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>');
                } else if (type == 'pass') {
                    a.append('<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>');
                    a.append('<td class="footable-visible footable-last-column"><a href="#"><i class="fa fa-check text-navy"></i> 通过</a></td>');
                    a.children()[4].remove();
                    a.children()[4].remove();
                    a.children()[2].innerHTML = (recordC);
                    a.children()[3].innerHTML = (reason);
                } else if (type == 'nopass') {
                    a.append('<td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>');
                    a.children()[4].remove();
                    a.children()[3].after(a.children()[5]);
                    a.children()[2].innerHTML = (recordC);
                    a.children()[3].innerHTML = (reason);
                } else if (type == 'go') {
                    a.append(
                            '         <td>                                                                         '
                            + '             <div class="ibox-content">                                               '
                            + '                 <div class="sk-spinner sk-spinner-wave">                             '
                            + '                     <div class="sk-rect1"></div>                                     '
                            + '                     <div class="sk-rect2"></div>                                     '
                            + '                     <div class="sk-rect3"></div>                                     '
                            + '                     <div class="sk-rect4"></div>                                     '
                            + '                 </div>                                                               '
                            + '             </div>                                                                   '
                            + '         </td>                                                                        ');

                    a.children()[3].after(a.children()[6]);
                    a.children()[5].remove();
                }

            }
            function addRow(a, info) {
//                a.append('<tr><td>....xxx</td></td>');
                a.append(oneRow(info));
                $('button[name=dd]').on('click', function () {
                    var a = $(this).parent().parent();
                    appendColumn(a, "go");
                    var file = a.children()[1].innerHTML;
                    alert(file);
                    inputXlsx(a, [file]);
                });
            }
            ;
            function inputXlsx(a, files) {
                console.log(JSON.stringify(files));
                $.ajax({
                    url: "/login/inputxlsx",
                    data: {files: JSON.stringify(files), user: $("#username").val(), pwd: $("#passwd").val(), ip: $("#ip").val(), port: $("#port").val(),
                        db: $("input[name='optionsRadios0']:checked").val(), tb: $("input[name='optionsRadios']:checked").val(),
                        co: $("input[name='optionsRadios2']:checked").val()},
                    dataType: "text",
                    type: "post",
                    success: function (result) {
                        console.log(result + '--------------');
                        var r = JSON.parse(result);
                        if (r.info == 0) {
                            appendColumn(a, "pass", r.reason, "--");
                            alert("ok");
                        } else if (r.info == 500) {
                            appendColumn(a, "nopass", "--", r.reason);
                            alert("nopass");
                        }
                    }
                });
            }
            ;
            function oneRow(info) {


                return         ('      <tr>                                                                            '
                        + '         <td>                                                                         '
                        + '             <input type="checkbox" class="i-checks" name="input[]">                  '
                        + '         </td>                                                                        '
                        + '         <td>' + info + '</td>                                  '
                        + '         <td><span class="pie">4,9</span>                                             '
                        + '         </td>                                                                        '
                        + '         <td>18%</td>                                                                 '
                        + '         <td>                                                                         '
                        + '----'
                        + '         </td>                                                                        '
                        + '         <td><button name="dd"><i class="fa fa-check text-navy"></i>导入</button>     '
                        + '         </td>                                                                        '
                        + '     </tr>                                                                            ');
            }
        </script>
        <script>
            var start = {elem: "#start", format: "YYYY/MM/DD hh:mm:ss", min: "2017-6-7 0:0:0", max: laydate.now(), istime: true, istoday: false, choose: function (datas) {
                    end.min = datas;
                    end.start = datas
                }};
            var end = {elem: "#end", format: "YYYY/MM/DD hh:mm:ss", min: "2017-6-7 0:0:0", max: laydate.now(), istime: true, istoday: false, choose: function (datas) {
                    start.max = datas
                }};
            laydate(start);
            laydate(end);
        </script>
        <script>
            $(document).ready(function () {
                $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", })
            });
        </script>
        <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
        <script>

            $(function () {
                var btn = $("#savedb");
                btn.on(
                        "click", function () {
                            $.ajax({
                                url: "/login/dbinfo",
                                data: {user: $("#username").val(), pwd: $("#passwd").val(), ip: $("#ip").val(), port: $("#port").val()},
                                dataType: "text",
                                type: "post",
                                success: function (result) {
                                    console.log(result + '--------------');
                                    var r = JSON.parse(result);
                                    if (result == "") {
                                        alert("登陆失败！请重新输入")
                                    } else {
                                        var info = r[0]['info'];
                                        if (info == 2) {
                                            alert("查询成功但有相同记录！所以不更新view");
                                        } else if (info == 3) {
                                            alert("更新数据库成功！refresh view");
                                            $('#ip').val(r[0]['db-ip']);
                                            $('#port').val(r[0]['db-port']);
                                            $('#username').val(r[0]['db-username']);
                                            $('#passwd').val(r[0]['db-password']);
                                        } else if (info == 0) {
                                            alert("所给出的信息无法连接数据库！");
                                        }
                                    }
                                }
                            });
                        });
                var btn2 = $("#getdb");
                btn2.on(
                        "click", function () {
                            $.ajax({
                                url: "/login/getdbs",
                                data: {user: $("#username").val(), pwd: $("#passwd").val(), ip: $("#ip").val(), port: $("#port").val(), db: 'mysql'},
                                dataType: "text",
                                type: "post",
                                success: function (result) {
//                                    console.log(result + '--------------');
                                    var r = JSON.parse(result);
                                    addDbs(r);
                                }
                            })
                        });
                var btn3 = $("#output");
                btn3.on(
                        "click", function () {
                            $.ajax({
                                url: "/login/output",
                                data: {user: $("#username").val(), pwd: $("#passwd").val(), ip: $("#ip").val(), port: $("#port").val(),
                                    db: $("input[name='optionsRadios0']:checked").val(), tb: $("input[name='optionsRadios']:checked").val(),
                                    co: $("input[name='optionsRadios2']:checked").val(),
                                    start: $("#start").val(), end: $("#end").val()},
                                dataType: "text",
                                type: "post",
                                success: function (result) {
                                    console.log('------output success--------' + result);
                                }
                            })
                        });
            })

        </script>
        <script>
            $(document).ready(function () {

                $("[name=optionsRadios]").click(function () {
                    alert("您是..." + $(this).val());
                    var a = $("input:radio[name=optionsRadios2]:eq(0)");
                    a.click();
                });
            });
            function addTables(tables) {
                var b = $("#table");
                $("#table label ").remove();
                for (var i = 0; i < tables.length; i++) {
                    b.append('<label><input type="radio" checked="false" value="' + tables[i] + '" name="optionsRadios">' + tables[i] + '</label>');
                }
                $("[name=optionsRadios]").click(function () {
                    //                    alert("您是..." + $(this).val());
                    var table = $(this).val();
                    var db = $("input[name='optionsRadios0']:checked").val();
                    $.ajax({
                        url: "/login/getcolumns",
                        data: {user: $("#username").val(), pwd: $("#passwd").val(), ip: $("#ip").val(), port: $("#port").val(), db: db, tb: table, co: 'id'},
                        dataType: "text",
                        type: "post",
                        success: function (result) {
                            //                                    console.log(result + '--------------');
                            var r = JSON.parse(result);
                            addColumns(r);
                        }
                    });
                });
                var a = $("input:radio[name=optionsRadios][value=think_history_access]");
                a.click();
            }
            function addColumns(columns) {
                var b = $("#column");
                $("#column label ").remove();
                for (var i = 0; i < columns.length; i++) {
                    b.append('<label><input type="radio" checked="false" value="' + columns[i] + '" name="optionsRadios2">' + columns[i] + '</label>');
                }
                var a = $("input:radio[name=optionsRadios2][value=login_time]");
                a.click();

            }
            function addDbs(dbs) {
                var b = $("#db");
                $("#db label ").remove();
                for (var i = 0; i < dbs.length; i++) {
                    b.append('<label><input type="radio" checked="false" value="' + dbs[i] + '" name="optionsRadios0">' + dbs[i] + '</label>');
                }
                $("[name=optionsRadios0]").click(function () {
                    //                    alert("您是..." + $(this).val());
                    var db = $(this).val();
                    $.ajax({
                        url: "/login/gettables",
                        data: {user: $("#username").val(), pwd: $("#passwd").val(), ip: $("#ip").val(), port: $("#port").val(), db: db},
                        dataType: "text",
                        type: "post",
                        success: function (result) {
                            //                                    console.log(result + '--------------');
                            var r = JSON.parse(result);
                            addTables(r);
                        }
                    });
                });
//                var a = $("input:radio[name=optionsRadios0]:eq(3)");
                var a = $("input:radio[name=optionsRadios0][value=gwifi]");
                a.click();

            }
        </script>
    </body>


    <!-- Mirrored from www.zi-han.net/theme/hplus/form_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:15 GMT -->
</html>
