<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico"> <link href="/plugins/inspinia/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/plugins/inspinia/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/plugins/inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/plugins/inspinia/css/animate.min.css" rel="stylesheet">
    <link href="/plugins/inspinia/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/plugins/inspinia/js/plugins/date/daterangepicker-bs3.css" rel="stylesheet">
    <link href="/plugins/inspinia/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/css/public.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
 <link href="/plugins/inspinia/js/plugins/date/daterangepicker-bs3.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper-app animated fadeInRight">
    <div class="ibox-title">
        <h5>测试导出</h5>
    </div>
    <div class="ibox-content ibox-content-app">
        <form class="form-horizontal form-app" id="menuform1" role="form" action="" method="post">
<fieldset>
           
         <div class="form-group">
            <label id='dxw' class="col-sm-2 control-label">截止时间</label>
            <div class="col-sm-10">
                <div class="controls">
                    <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                    <input type="text" style="width: 400px" name="reservation" id="reservationtime" class="form-control" value="<%= start %>- <%= end %>"   class="span4"/>
                    </div>
                </div>
             </div>
                <button type="submit" class="btn btn-mwidth btn-info btn-block">导出</button>
          </div>
</fieldset>
        </form>
<div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>基本</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="table_basic.html#">选项1</a>
                                </li>
                                <li><a href="table_basic.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>年龄</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>张三</td>
                                    <td>男</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>李四</td>
                                    <td>男</td>
                                    <td>27</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>王麻子</td>
                                    <td>男</td>
                                    <td>65</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>

</div>
<script src="/plugins/inspinia/js/jquery.min.js?v=2.1.4"></script>
    <script src="/plugins/inspinia/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/plugins/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/plugins/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/plugins/inspinia/js/plugins/layer/layer.min.js"></script>
    <script src="/plugins/inspinia/js/hplus.min.js?v=4.1.0"></script>

<script src="/plugins/inspinia/js/plugins/date/moment.js"></script>
<script src="/plugins/inspinia/js/plugins/date/daterangepicker.js"></script>
<script src="/js/vote-admin.js"></script>
</body>
</html>